
<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= Movie.title %>
  </p>

  <p>
    <strong>Release Date:</strong>
    <%= Movie.release_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= Movie.overview %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= Movie.rating %>
  </p>

</div>
